#aux files
.DS_Store
R_grambank/.Rhistory
*Rproj*
*Rhistory*
.Rproj.user

#output directories
*GB_wide*
*non_GB_datasets*
*coverage_plots*
*processed_data*
*R_grambank/MDS*
*R_grambank/PCA*
*R_grambank/UMAP*
