#aux files
.DS_Store
*Rproj*
*rdata*
*Rhistory*
*.Rproj.user

#output directories
*output*
*.log*

#supplementary tables that should be pushed
!R_grambank/output/spatiophylogenetic_modelling/featurewise/dual_summary_effects.tsv

#images
**/*.png
**/*.tiff
*Rplots.pdf

#EDGE tree
R_grambank/spatiophylogenetic_modelling/phylogenies/EDGE6635-merged-relabelled.tree
