[submodule "glottolog-cldf"]
	path = glottolog-cldf
	url = https://github.com/glottolog/glottolog-cldf
[submodule "wals"]
	path = wals
	url = https://github.com/cldf-datasets/wals
[submodule "autotyp-data"]
	path = autotyp-data
	url = https://github.com/autotyp/autotyp-data
[submodule "grambank"]
	path = grambank
	url = https://github.com/grambank/grambank
