#aux files
.DS_Store
R_grambank/.Rhistory
*Rproj*
*rdata*
*Rhistory*
.Rproj.user

#output directories
.*spatiophylogenetic_modelling.*results.*
*GB_wide*
*non_GB_datasets*
*coverage_plots*
*R_grambank/MDS*
*R_grambank/PCA*
*R_grambank/UMAP*
R_grambank/impute_missing_values.log

#images
**/*.png
**/*.tiff
R_grambank/Rplots.pdf
R_grambank/spatiophylogenetic_modelling/phylogenies/EDGE6635-merged-relabelled.tree
R_grambank/output/spatiophylogenetic_modelling/processed_data/jaeger_removed.csv
R_grambank/output/spatiophylogenetic_modelling/featurewise/results_debug/*
R_grambank/output/spatiophylogenetic_modelling/*mat.tsv
